body {

    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background: #1F2039;
}

a {
    
    text-decoration: none;
    font-size: 1em;
}
a:hover:not(.cta){
    text-decoration: underline;
}
span {
    color: #A4B4FC;
}

h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.1em;
}
em {
    color: #a5b4fc;
    font-style: normal;
  }
header, footer {
    background: #fff
}
.header, .footer {
    color: #242424;
}

p,li,h2 {
    color: #F9F8FF;
}
.cta {
    background: linear-gradient(#8E86B5, #ACAEED);
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 50px;
}
.cta:hover {
    background: linear-gradient(#696484, #8788BA);
}
.main {
    border-right: 1px solid #A5B4FC;
    border-bottom: 1px solid #A5B4FC;;
}
.icone:hover {
   opacity: 0.5;
}